# ExDEx Exercise 2
## Group 7

### Import all the necessary libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

### Dataset "Crops and livestock products" of FAOSTAT

#### Read .csv files in

In [2]:
path_cwd = os.getcwd()

In [3]:
path_faostat_cls = os.path.join(path_cwd, "FAOSTAT", "Crops and livestock products")

path_faostat_cls_all = os.path.join(path_faostat_cls, "Production_Crops_Livestock_E_All_Data_(Normalized).csv")
faostat_cls_all = pd.read_csv(path_faostat_cls_all)
path_faostat_cls_areacodes = os.path.join(path_faostat_cls, "Production_Crops_Livestock_E_AreaCodes.csv")
faostat_cls_areacodes = pd.read_csv(path_faostat_cls_areacodes)
path_faostat_cls_elements = os.path.join(path_faostat_cls, "Production_Crops_Livestock_E_Elements.csv")
faostat_cls_elements = pd.read_csv(path_faostat_cls_elements)
path_faostat_cls_flags = os.path.join(path_faostat_cls, "Production_Crops_Livestock_E_Flags.csv")
faostat_cls_flags = pd.read_csv(path_faostat_cls_flags)
path_faostat_cls_itemcodes = os.path.join(path_faostat_cls, "Production_Crops_Livestock_E_ItemCodes.csv")
faostat_cls_itemcodes = pd.read_csv(path_faostat_cls_itemcodes)

display(faostat_cls_all)
display(faostat_cls_areacodes)
display(faostat_cls_elements)
display(faostat_cls_flags)
display(faostat_cls_itemcodes)

/var/folders/ld/jbbpbpx52r32jwrctm8l7rlc0000gn/T/ipykernel_50691/2291419524.py:4: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  faostat_cls_all = pd.read_csv(path_faostat_cls_all)

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1961,1961,ha,0.00,A,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1962,1962,ha,0.00,A,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1963,1963,ha,0.00,A,NaN
3,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1964,1964,ha,0.00,A,NaN
4,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1965,1965,ha,0.00,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4116247,5817,'902,Net Food Importing Developing Countries (NFIDCs),1735,'F1735,Vegetables Primary,5510,Production,2019,2019,t,89344859.62,E,NaN
4116248,5817,'902,Net Food Importing Developing Countries (NFIDCs),1735,'F1735,Vegetables Primary,5510,Production,2020,2020,t,90831988.49,E,NaN
4116249,5817,'902,Net Food Importing Developing Countries (NFIDCs),1735,'F1735,Vegetables Primary,5510,Production,2021,2021,t,94105040.20,E,NaN
4116250,5817,'902,Net Food Importing Developing Countries (NFIDCs),1735,'F1735,Vegetables Primary,5510,Production,2022,2022,t,96483623.71,E,NaN
4116251,5817,'902,Net Food Importing Developing Countries (NFIDCs),1735,'F1735,Vegetables Primary,5510,Production,2023,2023,t,96628287.75,E,NaN

     Area Code M49 Code          Area
0            2     '004   Afghanistan
1         5100     '002        Africa
2            3     '008       Albania
3            4     '012       Algeria
4         5200     '019      Americas
..         ...      ...           ...
240       5000     '001         World
241        249     '887         Yemen
242        248     '890  Yugoslav SFR
243        251     '894        Zambia
244        181     '716      Zimbabwe

[245 rows x 3 columns]

    Element Code                        Element
0           5312                 Area harvested
1           5423                Extraction Rate
2           5313                         Laying
3           5318                   Milk Animals
4           5319                   Prod Popultn
5           5314                   Prod Popultn
6           5320  Producing Animals/Slaughtered
7           5321  Producing Animals/Slaughtered
8           5322                     Production
9           5323                     Production
10          5510                     Production
11          5513                     Production
12          5111                         Stocks
13          5112                         Stocks
14          5114                         Stocks
15          5412                          Yield
16          5413                          Yield
17          5422                          Yield
18          5417           Yield/Carcass Weight
19          5424           Yield/Carcass Weight

  Flag                          Description
0    A                      Official figure
1    E                      Estimated value
2    I  Value imputed by a receiving agency
3    M     Missing value; data cannot exist
4    X    Figure from external organization

     Item Code   CPC Code                                               Item
0          101     '01195                                        Canary seed
1         1016     '02123                                              Goats
2         1017     '21116                     Meat of goat; fresh or chilled
3         1018     '21156     Edible offal of goat; fresh; chilled or frozen
4         1019     '21515                               Goat fat; unrendered
..         ...        ...                                                ...
302        982     '02291                                  Raw milk of sheep
303        983  '22249.01                      Butter and ghee of sheep milk
304        984     '22253      Cheese from milk of sheep; fresh or processed
305        987     '02941  Shorn wool; greasy; including fleece-washed sh...
306        995     '02953              Raw hides and skins of sheep or lambs

[307 rows x 3 columns]

#### Filter the dataframe for EU(27) countries

In [4]:
eu_countries_area = [
    "Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus",
    "Czechia", "Denmark", "Estonia", "Finland", "France",
    "Germany", "Greece", "Hungary", "Ireland", "Italy",
    "Latvia", "Lithuania", "Luxembourg", "Malta",
    "Netherlands", "Netherlands (Kingdom of the)","Poland",
    "Portugal", "Romania", "Slovakia", "Slovenia", "Spain",
    "Sweden"
]

faostat_cls_eu = faostat_cls_all[
    (faostat_cls_all["Area"].isin(eu_countries_area))
]

display(faostat_cls_eu)

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
134970,11,'040,Austria,515,'01341,Apples,5312,Area harvested,1961,1961,ha,NaN,M,NaN
134971,11,'040,Austria,515,'01341,Apples,5312,Area harvested,1962,1962,ha,NaN,M,NaN
134972,11,'040,Austria,515,'01341,Apples,5312,Area harvested,1963,1963,ha,NaN,M,NaN
134973,11,'040,Austria,515,'01341,Apples,5312,Area harvested,1964,1964,ha,NaN,M,NaN
134974,11,'040,Austria,515,'01341,Apples,5312,Area harvested,1965,1965,ha,NaN,M,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2652708,210,'752,Sweden,1735,'F1735,Vegetables Primary,5510,Production,2019,2019,t,310250.0,A,NaN
2652709,210,'752,Sweden,1735,'F1735,Vegetables Primary,5510,Production,2020,2020,t,342880.0,A,NaN
2652710,210,'752,Sweden,1735,'F1735,Vegetables Primary,5510,Production,2021,2021,t,353600.0,A,NaN
2652711,210,'752,Sweden,1735,'F1735,Vegetables Primary,5510,Production,2022,2022,t,335690.0,A,NaN
2652712,210,'752,Sweden,1735,'F1735,Vegetables Primary,5510,Production,2023,2023,t,327270.0,A,NaN

#### Select appropriate time span
Since the quality and completeness of the FAOSTAT data has tended to improve over time, we only use the most recent 30 years, 1993–2023.

In [5]:
faostat_cls_eu_30 = faostat_cls_eu[
    (faostat_cls_eu["Year"] >= 1993)
]

#### Aggregate the production over the years per country
This is how we get the top products of each EU country

In [6]:
faostat_cls_eu_30_prod = faostat_cls_eu_30[(faostat_cls_eu_30["Element"] == "Production")]

faostat_cls_eu_30_prod_agg = (
    faostat_cls_eu_30_prod
    .groupby(["Area", "Item"], as_index=False)["Value"]
    .sum()
    .sort_values(["Area", "Value"], ascending=[True, False])
)

display(faostat_cls_eu_30_prod_agg)

         Area                      Item         Value
22    Austria          Cereals, primary  1.537357e+08
78    Austria               Milk, Total  1.051315e+08
119   Austria        Raw milk of cattle  1.042570e+08
137   Austria       Sugar Crops Primary  9.076320e+07
138   Austria                Sugar beet  9.076320e+07
...       ...                       ...           ...
4528   Sweden           Treenuts, Total  0.000000e+00
4530   Sweden  True hemp, raw or retted  0.000000e+00
4531   Sweden    Unmanufactured tobacco  0.000000e+00
4534   Sweden         Walnuts, in shell  0.000000e+00
4535   Sweden               Watermelons  0.000000e+00

[4543 rows x 3 columns]